<!-- <h1> Welcome to the home page </h1> -->
<!--<h1>welcome to the home page, <span style="color: purple;">{{name}}</span></h1>-->
<!-- <h2> This is the full page</h2> -->

<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="movieTitle" class="form-label">
                Search for a movie:
            </label>
            <input type="text" class="form-control" name="searchMovie">
        </div> 
        <button type="submit" class="btn btn-primary">Search</button>       
    </form>
    <p>Searching for movie{{searchTerm}}</p>
        {% for movie in movies %}
            <h2>{{movie.title}}</h2>
            <h3>{{movie.description}}</h3>
            <img src="{{movie.image.url}}">
            {% if movie.url %}
                <a href="{{ movie.url }}"> Movie link </a>
            {% endif %}
        {% endfor %}
    <br/>
</div>